<div class="front-page-enclosure">
  <app-header></app-header>

  <div class="main-content-box"
        *ngIf="displayPage">
    <app-page-tracker [topicIndex]="topicIndex"
                      [subTopicIndex]="subTopicIndex">
    </app-page-tracker>

    <div class="row"
          *ngIf="!newForm">

      <div class="col-md-12">

        <h3>List of notes in "{{ subTopicTitle }}" within "{{ topicTitle }}":</h3>
        <br>

        <div *ngIf="noteList&&noteList.length>0">
          <ol class="topic-listing">
            <li *ngFor="let noteItem of noteList; let noteIndex=index">
              <strong><span class="topic-title"
                    (click)="displayNote(noteIndex)">
                {{ noteItem.title }}
              </span></strong>
              <div class="note-display-box"
                    *ngIf="noteIndex===indexDisplay">
                  <div class="row"
                        *ngIf='!newForm&&noteDisplay'>

                    <div class="col-md-12">
                        <div *ngFor="let noteContent of noteList[indexDisplay].contents">
                          <div *ngIf="noteContent.itemType==='code'">
                            <pre>{{ noteContent.itemData }}</pre>
                          </div>
                          <div *ngIf="noteContent.itemType==='text'">
                            <p>{{ noteContent.itemData }}</p>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-6">
                        <button type="button"
                                class="btn btn-primary general-button"
                                (click)="modifyNote(noteIndex)">
                                Modify
                        </button>
                      </div>
                      <div class="col-xs-6">
                        <button type="button"
                                class="btn btn-danger general-button"
                                (click)="deleteNote(noteIndex)">
                                Delete
                        </button>
                      </div>
                    </div>

                  </div>
              </div>
            </li>
          </ol>
        </div>

        <div *ngIf="noteList.length===0">
          <h4>No notes to display. Click on the Add new button below to get started.</h4>
        </div>

        <br>
        <button type="button"
                class="btn btn-primary general-button"
                (click)="newNote()">
                Add new
        </button>

      </div>

    </div>

    <div class="row"
          *ngIf="newForm">
      <h2>Creating new note under topic "{{ subTopicTitle }}"</h2>
      <br>
      <div class="col-md-12">
        <app-note-form [topicIndex]="topicIndex"
                        [subTopicIndex]="subTopicIndex"
                        (formSubmitted)="newForm=false; modifyStatus=false"
                        [modifyStatus]="modifyStatus"
                        [modifyIndex]="modifyIndex">
        </app-note-form>
      </div>

    </div>
  </div>

</div>

<app-footer></app-footer>
