<form [formGroup]="noteForm"
      class="form-horizontal"
      (ngSubmit)="noteSubmit()">

  <div class="form-group">
    <div class="row">

      <div class="col-md-2 text-right">
        <label for="title"
                class="control-label">
                Title:
        </label>
      </div>

      <div class="col-md-10">
        <textarea name="title"
                  id="title"
                  formControlName="title"
                  rows="2" cols="80"
                  placeholder="Title">
        </textarea>
      </div>

    </div>
  </div>


  <div *ngFor="let formItem of formContents; let itemIndex=index">

    <div class="form-group">
      <div class="row">


        <div class="col-md-2 label-align">
          <div *ngIf="formKeys[itemIndex]==='text'">
            <label [for]="formContents[itemIndex]"
                    class="control-label">
                    Note text:
            </label>
          </div>

          <div *ngIf="formKeys[itemIndex]==='code'">
            <label [for]="formContents[itemIndex]"
                    class="control-label">
                    Code:
            </label>
          </div>
        </div>

        <div class="col-md-10">
          <div *ngIf="formKeys[itemIndex]==='text'">
            <textarea [id]="formContents[itemIndex]"
                      rows="8" cols="80"
                      [formControlName]="formContents[itemIndex]"
                      placeholder="Note text">
            </textarea>
          </div>

          <div *ngIf="formKeys[itemIndex]==='code'">
            <textarea [id]="formContents[itemIndex]"
                      rows="8" cols="80"
                      [formControlName]="formContents[itemIndex]"
                      placeholder="Code segment">
            </textarea>
          </div>
          <button type="button"
                  class="btn btn-danger general-button"
                  (click)="deleteContent(itemIndex)">
                  Delete
          </button>
          Click here to delete the above input.
        </div>

      </div>
    </div>

  </div>

  <div class="note-button-block">
    <div class="row">
      <div class="col-md-12">
        <br>
        To add more inputs, click on the buttons below. <br>
        <button type="button"
                class="btn btn-primary general-button"
                (click)="addText()">
                Add text
        </button>

        <button type="button"
                class="btn btn-primary general-button"
                (click)="addCode()">
                Add code
        </button>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <button type="submit"
            class="btn btn-success general-button">
      Submit
    </button> Don't forget to click here to save the form.
  </div>


  <div *ngIf="noteForm.dirty">
    <br>

    <div class="note-preview-block">
      <div class="row">
        <h3>Preview of the note</h3>

        <div class="col-md-12 para-font">
          <strong>{{ noteForm.value.title }}</strong>
        </div>
      </div>
      <br>

      <div *ngFor="let formItem of formContents; let itemIndex=index">

        <div class="row">
            <div class="col-md-12 para-font">
              <div *ngIf="formKeys[itemIndex]==='code'">
                <pre>{{ noteForm.value[formItem] }}</pre>
              </div>
              <div *ngIf="formKeys[itemIndex]==='text'">
                {{ noteForm.value[formItem] }}
              </div>
              <br>
            </div>
        </div>
      </div>
    </div>

  </div>


</form>
