<form class="form-horizontal"
      [formGroup]="subTopicForm"
      (ngSubmit)="addSubTopic()">

  <div class="form-group">
    <div class="row">
      <div class="col-md-2 label-align">
        <label for="title"
                class="control-label">
                Title:
        </label>
      </div>
      <div class="col-md-10">
        <input type="text" name="title" id="title"
                formControlName="title"
                class="form-control"
                placeholder="Title">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2 label-align">
        <label for="desc"
                class="control-label">
                Description:
        </label>
      </div>
      <div class="col-md-10">
        <textarea name="desc" id="desc" rows="8" cols="80"
            formControlName="desc"
            class="form-control"
            placeholder="Description"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <button type="submit"
              class="btn btn-primary general-button">
              Submit
      </button>

      <button type="button"
              class="btn btn-info general-button"
              (click)="resetForm()">
              Clear
      </button>

      <button type="button"
              class="btn btn-danger general-button"
              (click)="cancelForm()">
              Cancel
      </button>

    </div>
  </div>

</form>
