<div class="front-page-enclosure">
  <app-header></app-header>

  <div class="main-content-box">
    <div class="row text-center">
      <h2>Contact Me</h2>
    </div>

    <br>

    <div class="row">
      <p class="large-size">I am full-stack web developer specializing in HTML/CSS, JavaScript and Angular on the front-end and Node.JS, Python and Django on the back-end. I work with SQL and also NoSQL databases using ORMs such as Sequelize, Mongoose and Django. To check out all my projects, take a look at my GitHub account:</p>

      <p class="large-size"><a href="https://github.com/shivkiyer">https://github.com/shivkiyer</a></p>

      <p class="large-size">I am also active on LinkedIn:</p>

      <p class="large-size"><a href="https://www.linkedin.com/in/iyershivkumar">https://www.linkedin.com/in/iyershivkumar</a></p>

      <p class="large-size">I am always avaiable for freelance projects in full-stack applications. If you are a start-up looking for the first group of developers to get your business online, I would be very interested. I have been working with start-ups since 2015 and am good at understanding business needs and providing solutions. If you are looking to hire freelancers through sites such as Upwork, below is my Upwork profile link:</p>

      <p class="large-size">
      <a href="https://www.upwork.com/o/profiles/users/_~0171710f9c2fbd7da3/">Upwork profile</a>
      </p>

      <br>
      <h3>Shivkumar Iyer</h3>

    </div>

  </div>
</div>

<app-footer></app-footer>
