<h1>Quick Note App</h1>

<div class="row">
  <div class="col-md-2">

  </div>

  <div class="col-md-8">
    <h3>Contents of Topic {{ topic.title }} </h3>
    <ol *ngIf="formSubmitted">
      <li *ngFor="let subTItem of subTopicsList">{{ subTItem.title }}</li>
    </ol>
  </div>
  <div class="col-md-8">
    <app-sub-topic-form [topic]="topic"
                (formSubmitted)="formSubmitted=true"
                *ngIf="!formSubmitted">
    </app-sub-topic-form>
  </div>

  <div class="col-md-2">

  </div>

</div>
