<div class="front-page-enclosure">
  <app-header></app-header>

  <div class="main-content-box">
    <div class="row text-center">
      <h2>About QuickNote</h2>
    </div>
    <br>

    <div class="row">
      <p class="large-size">This app was built to create a searchable database for developers as a knowledge resource while the develop their projects or learn new technology. We developers gather knowledge from a wide variety of sources such a official guides, blogs, Stack Overflow and even social media sites as we work our way through a project.</p>

      <p class="large-size">This app lets you create "Topics" which could be projects and within those "Subtopics" which are basically different aspects of the project and finally within these "Notes". A note is a collection of text and code however you decide to mix them. All this is written to a MongoDB database. So the end result is a searchable database that can be queried when you encounter a similar problem again.</p>

      <p class="large-size">And as final addition, there is the collaborative learning aspect. Developers can share projects and write together as they work on different aspects of a project. Projects can be assigned permissions of different levels and projects can be private or can be read by all.</p>

    </div>

  </div>
</div>

<app-footer></app-footer>
