/* You can add global styles to this file, and also import other style files */

body, html {
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(229, 229, 229);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.url-link {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.url-link:active, .url-link:hover {
  background-color: rgb(115, 187, 214);
}

.url-link:link, .url-link:visited {
  background-color: inherit;
}

.general-button {
  background-color: rgb(121, 173, 119);
  font-size: 125%;
  margin-left: 30px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: 1px rgb(121, 173, 119) solid;
  cursor: pointer;
}

.general-button:active, .general-button:hover {
  background-color: rgb(115, 187, 214);
}

.topic-listing {
  margin: 0;
  font-size: 150%;
  line-height: 150%;
}

.topic-listing li {
  margin-left: 10px;
}
