/* You can add global styles to this file, and also import other style files */

body, html {
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(229, 229, 229);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.url-link {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.url-link:active, .url-link:hover {
  background-color: rgb(115, 187, 214);
}

.url-link:link, .url-link:visited {
  background-color: inherit;
}

.general-button {
  margin-left: 30px;
  outline: none;
  cursor: pointer;
}

.general-button:active, .general-button:hover {
  background-color: rgb(229, 166, 137);
  outline: none;
}

.topic-listing {
  margin: 0;
  font-size: 125%;
  line-height: 175%;
}

.topic-listing li {
  margin-left: 20px;
}


.topic-message {
  font-size: 125%;
  margin-left: 20px;
}


form {
  margin-left: 50px;
}

label {
  padding-top: 5px;
  font-size: 120%;
  display: inline-block;
  float: left;
}

input, textarea {
  display: inline-block;
  float: right;
  font-size: 120%;
}

input {
  height: 30px;
  width: 500px;
}

textarea {
  width: 500px;
  height: 200px;
}

.form-elements {
  margin-left: 20px;
  width: 50%;
}

.form-row {
  display: block;
  overflow: auto;
  margin-bottom: 20px;
}
