<div class="page-tracker-panel">
  <div class="row">
    <div class="col-md-2 col-xs-4 page-tracker-section"
          *ngIf="showTopic"
          (click)="backToRoot()">
      Topics
    </div>
    <div class="col-md-2 col-xs-4 page-tracker-section"
          *ngIf="showTopic"
          (click)="backToTopic()">
      {{ topicDisplay }}
    </div>
    <div class="col-md-2 col-xs-4 page-tracker-section"
          *ngIf="showSubTopic"
          (click)="backToSubTopic()">
      {{ subTopicDisplay }}
    </div>
  </div>
</div>
