form {
  margin-left: 50px;
}

label {
  padding-top: 5px;
  font-size: 120%;
  display: inline-block;
  float: left;
}

input, textarea {
  display: inline-block;
  float: right;
  font-size: 120%;
}

input {
  height: 30px;
  width: 500px;
}

textarea {
  width: 500px;
  height: 200px;
}

.form-elements {
  margin-left: 20px;
  width: 50%;
}

.form-row {
  display: block;
  overflow: auto;
  margin-bottom: 20px;
}

clearfix::after {
  content: "";
  display: table;
  clear: both;
}
