<form class="form-horizontal"
      [formGroup]="topicForm"
      (ngSubmit)="addNewTopic()">

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <label for="title"
                class="control-label">
                Title
        </label>
      </div>
      <div class="col-sm-10">
        <input type="text" id="title" name="title"
                formControlName="title"
                class="form-control"
                placeholder="Title">
      </div>
    </div>
  </div>
  <p *ngIf="topicForm.get('title').touched&&topicForm.get('title').invalid">
  Title is needed.</p>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <label for="desc" class="control-label">Description</label>
      </div>
      <div class="col-sm-10">
        <textarea id="desc" name="desc"
                  formControlName="desc"
                  class="form-control"
                  placeholder="Description"></textarea>
      </div>
    </div>
  </div>
  <p *ngIf="topicForm.get('desc').touched&&topicForm.get('desc').invalid">
  Description is needed.</p>

  <button type="submit"
          name="submit"
          class="btn btn-primary general-button"
          [disabled]="topicForm.touched&&topicForm.invalid"
          *ngIf="!modifyStatus">
          Submit
  </button>
  <button type="submit"
          name="submit"
          class="btn btn-primary general-button"
          [disabled]="topicForm.touched&&topicForm.invalid"
          *ngIf="modifyStatus">
          Change
  </button>
  <button type="button"
          name="clear"
          class="btn btn-info general-button"
          (click)="clearTopicForm()"
          >
          Clear
  </button>
  <button type="button"
          name="cancel"
          class="btn btn-danger general-button"
          (click)="cancelAddTopic()"
          >
          Cancel
  </button>

</form>
